*.pyc
.vscode*
*results*
dist*
*.egg-info*
ai4plasma/_version.py
docs/build*
app/piml/pinn/models*
app/piml/pinn/runs*
app/piml/pinn/results*
app/piml/cs_pinn/models*
app/piml/cs_pinn/runs*
app/piml/cs_pinn/results*
app/piml/rk_pinn/models*
app/piml/rk_pinn/runs*
app/piml/rk_pinn/results*
app/piml/meta_pinn/models*
app/piml/meta_pinn/runs*
app/piml/meta_pinn/results*
app/piml/nas_pinn/models*
app/piml/nas_pinn/runs*
app/piml/nas_pinn/results*
app/operator/deeponet/results*
app/operator/deepcsnet/models*
app/operator/deepcsnet/runs*
app/operator/deepcsnet/results*
.pytest_cache/